
@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
}

body {
  background-color: turquoise;
}
nav {
  text-align:left;
  list-style: none;
  background-color:black;
  color:turquoise;
}
nav img {
  background-color:white;
  border:2px teal solid;
}
#hamMenuContent {
  display:none;
}
#hamburgerMenu:hover,#hamMenuContent:hover,#BurgerButton:hover {
  display: block;
}
footer {
  position: fixed;
  left:0;
  bottom:0;
}